@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GrumpyRabbit";
  src: url("../public/GrumpyRabbit.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "GrumpyRabbit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
